html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

#container {
    height: 2000px;
    width: 80%;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    -webkit-animation: fadeIn 1s 1;
    animation: fadeIn 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#overlay {
   background-color: #f1f1f1;
}

main p { 
    font-size: 1.5em;
}

#thumbnails {
    display: inline-block;
    vertical-align: middle;
}

#thumbnails img {
    width: 200px;
    margin-right: 10px
}

#forward, #backward {
    cursor: pointer;
    font-size: 2em;
    background: #171616;
    padding: 0px 9px;
    color: #ffffff;
}

@-webkit-keyframes fadeIn {
    0% {
      opacity: 0.0;
    }
    100% {
      opacity: 1.0;
    }
  }

@keyframes fadeIn {
    0% {
      opacity: 0.0;
    }
    100% {
      opacity: 1.0;
    }
  }
  